[project]
	description = Primary GIT Repository for the Zephyr Project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/c5188849
[access "refs/for/refs/*"]
	read = group user/c5188849
	push = group user/c5188849
	label-Code-Review = -2..+2 group user/c5188849
	label-Verified = -1..+1 group user/c5188849
	rebase = group user/c5188849
	removeReviewer = group user/c5188849
	submit = group user/c5188849
[access "refs/heads/*"]
	read = group user/c5188849
	create = group user/c5188849
	push = +force group user/c5188849
	pushMerge = group user/c5188849
[access "refs/tags/*"]
	push = group user/c5188849
	push = +force group user/c5188849
